.menu-list-label {
    color: #fff;
    user-select: none;
    padding: 12px;
    text-decoration: none;
    transition: all 0.6s ease;
    border-radius: 1.4px;
    cursor: pointer;
}

.menu-list-label:hover {
    background-color: red;
    color: #fff;
}
