.recent-list {
    margin-top: 20px;
}

.recent-title {
    text-align: center;
    padding: 10px 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.recent-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-paging-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-paging-left-btn,
.recent-paging-right-btn {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all var(--speed) ease;
    background-color: lightgray;
}

.recent-paging-left-btn:hover {
    background-color: red;
}
.recent-paging-right-btn:hover {
    background-color: red;
}

.recent-paging-icon {
    font-size: 25px;
    color: #fff;
}

.paging-index {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #f1f1f1;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all var(--speed) ease;
}

.paging-index:hover {
    background-color: red;
}
