.detail-container {
    display: flex;
}
.detail-item {
    display: flex;
    flex: 4;
}

.detail-side-container {
    display: flex;
    display: none;
}

.detail-popular-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 20px 10px 10px 10px;
}

@media screen and (min-width: 950px) {
    .detail-side-container {
        display: block;
    }

    .detail-container {
        flex-direction: row;
        padding: 20px;
    }

    .detail-popular-list-container {
        height: 50vh;
        overflow: auto;
    }
}
