.nav-category {
    transition: all 1s ease;
    opacity: 0;
}

.nav-category-title {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.nav-item-lists {
    list-style: none;
}

@media screen and (min-width: 600px) {
    .nav-category {
        margin-right: 40px;
    }
}
