.nav-country {
    transition: all 1s ease;
    opacity: 0;
}

.showList {
    transform: translateY(-20px);
    opacity: 1;
}

.nav-country-title {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.nav-country-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .nav-country {
        margin-left: 40px;
    }
}
