.error-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.error-message {
    color: red;
    width: 50%;
    text-align: center;
}

.try-again-btn {
    background-color: lightgray;
    color: #000;
    padding: 6px 15px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}
