.footer {
    background-color: var(--bg);
    padding: 50px 0 15px 0;
}

.footer-menu-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.footer-bottom {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (min-width: 900px) {
    .footer-menu-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-menu {
        width: 50vw;
    }

    .footer-bottom {
        width: 50vw;
    }
}

@media screen and (min-width: 500px) {
    .footer-bottom {
        flex-direction: row;
        margin-top: 0;
    }
}
