.popular-list {
    display: flex;
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

@media screen and (min-width: 950px) {
    .popular-list {
        flex: 1.5;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: auto;
        height: 75vh;
    }
}
