.popular-list {
    display: flex;
    flex: 0;
    flex-direction: column;
    overflow: auto;
    margin-left: 12px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.popular-list-container {
    display: flex;
    margin: 6px 0;
    cursor: pointer;
}

.popular-list-image {
    height: 100px;
    width: 100px;
}

.popular-list-detail {
    padding: 0 7px;
}

.popular-list-date {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

@media screen and (min-width: 750px) {
    .popular-list {
        flex: 1.5;
    }
}
